*{
	margin:auto;
	background-repeat: no-repeat;
}

li{list-style: none;}
a{text-decoration:none; }

#wrap{
	width: 1400px;
	height: 1278px;
}

.header{
	width: 100%;
	height: 250px;
	background-image: url(../images/de_01.jpg);
}


/*导航栏*/
.guide{
	width:100%;
	height: 60px;
	background-color: #095e83;
}

.guide ul li{	
	width: 190px;
	height: 60px;
	float: left;
    line-height: 2.8em;
	font-size: 20px;

}


.guide a{
	width: 190px;
	float: left;
    line-height: 2.8em;
	font-size: 20px;
	color: white;
	height: 60px;
	text-align: center;
} 

ul li dl {
	color:white;
	display: none; 
	background-color: #095e83; 
	font-size: 18px;
}

dl dt{
	text-align: center;
}

ul li:hover dl{
	display: block;
}

.guide a:hover{
	background-color:white;
	color:#095e83;
}


/*主体1*/

.mainbody1{
	width:100%;
	height:440px;
	margin-top: 20px;
	overflow:hidden;

}

.left1{
	width:460px;
	height:440px;
	float:left;
	margin-left: 20px;
}

.left1-first{
	float: left;
	height:40px;
	width: 40px;
	background-image: url(../images/00.jpg);
}

.second{
	float: left;
	height: 40px;
}

.third{
	float: left;
	margin-top: 12px;
	height: 40px;
	font-size: 20px;
	color:#0085bf;
}


.forth{
	float: right;
	border:none；
    
}

.forth img{
	border: none;
}


.box1{
	margin-top: 50px;
	width:100%;
	height:390px;
	border-top: 4px solid #0085bf;
}

.box1 ul li{
	margin-left: -40px;
	line-height: 2.78em;
	font-size: 20px;
    background-image: url(../images/1.jpg);
}

.box1 ul li a{
	margin-left: 40px;

}

.e{
	margin-left:80px;
	font-size: 13px;
	color: #0085bf;
}

.right1{
	width:880px;
	height:440px;
	float:right;
	margin-right:20px;
}

.right1-first{
	float: left;
	height:40px;
	width: 50px;
	background-image: url(../images/2.jpg);
}

.box2 {
    margin-top: 50px;
	width:100%;
	height:390px;
	border-top: 4px solid #0085bf;
}

.right1-box{
	float: left;
	width: 380px;
	height: 300px;
	border:2px solid black;
    margin-left: 20px;
	margin-top:20px;
}

.ddddddd{
	margin-top: 10px;
	width: 367px;
	height: 244px;
	background-image: url(../images/4.jpg);
}

.dddddd{

	margin-top: 10px;
	margin-left:30px;
}

.ddddd{
    float: right;
	height: 380px;
	width: 470px;
}

.dddd{
	float: right;
	margin-right: 40px;
	margin-top: 10px;
}

.ddd{
	float: right;
	font-size:18px;
	margin-right:35px;
}

.dd{
	width:400px;
	height: 300px;
	margin-top:100px;
	margin-right:100px;
}

.dd ul li{
	line-height: 2.78em;
	font-size: 20px;
    background-image: url(../images/1.jpg);
}

.dd ul li a{
	margin-left: 40px;
}


/*主体2*/

.mainbody2{
	width:100%;
	height: 410px;
	overflow: hidden;
}

.left2{
	width:570px;
	height: 410px;
	float: left;
	margin-left:20px;
}

.left2-first{
    height:40px;
	width: 50px;
	float: left;
	background-image: url(../images/44.jpg);
}


.center{
	width: 570px;
	height: 410px;
	float: left;
	margin-left: 20px;
}

.center-first{
	float: left;
	height:40px;
	width: 50px;
}

.right2{
	width:180px;
	height: 410px;
	float: right;
	margin-right:20px;
	border: 1px solid black;
}

.right2-first{
    float: left;
	height:40px;
    margin-left:20px;
    color:#0085bf;

}

.box3{
	width:180px;
	height: 380px;
	margin-top: 50px;
	border-top: 4px solid #0085bf ;

}


/*注释*/

.footer{
	width:100%;
	height:118px;	
	margin-top:20px;
	background-image: url(../images/11.jpg);
    background-repeat: no-repeat;
}


.footer ul{
	margin-top:10px;
	text-align: center;
    font size:2px;
}


