*{
	list-style: none;
	margin:0 auto;
	padding: 0px;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}

#container{
	height:860px;
	overflow: hidden;
}

#header{
	overflow: hidden;
	width: 100%;
	height:130px;
	margin-top:-3px;
	background:url(../images/0.jpg); 
}

.header-center{
	width: 1020px;
	height: 130px;
	padding: 0px;
	background:url(../images/11.jpg) no-repeat center; 
}

#guide{
	width: 100%;
	height: 33px;
	background:url(../images/6.jpg) no-repeat left,url(../images/10.jpg) no-repeat right,url(../images/12.jpg) repeat-x;
	background:url(../images/12.jpg) repeat-x; 										
}

.guide-center{
	width: 1020px;
	height: 33px;
}

.hhhh li{
	 height: 31px;
	 width: 100px;
	 text-align: center;
	 border-left:1px solid #3a7692;
	 line-height: 30px;
	 float: left; 
}

.hide{
	background-color:#0b93f8;
	position: absolute;
	color: white;
	display: none;
	margin-top: 1px;
	
}

.hide li{
	 float: none; 
}


.hhhh li a{
	color: white;
	font-size: 18px;
	text-decoration:none;
}

.hhhh li a:hover{
	text-decoration: underline;
}

#mainbody{
	width: 1020px;
	height: 578px;
	padding-top:10px; 
}

#mainbody1{
	width: 1020px;
	height: 264px;
}

.left1{
	width: 744px;
	height: 254px;
	float: left;
	border: 1px solid #cacaca;
}

.box1{
	float: left;
	margin-top: 1px;
	text-align: center;
	width: 300px;
	height: 253px;
	color: red;
	background-color: #cccdc8;
	font-family: 楷体;
	line-height: 20px;
}
.box1 span{
		overflow: hidden;
		display: block;
		white-space: nowrap;
}

.box2{
	width: 420px;
	height: 254px;
	background-color:#ffffff;
	float: right;
}

.small{
	width：100%;
	height: 30px;
	border-bottom: 1px solid #cccccc; 
	background-color:#fbfbfd;
}

.first h4{
	color:#397ca4;
	font-size: 18px;
	text-indent: 1em;
	float:left; 
	font-family: Microsoft YaHei UI;
}

.first img{
	margin:5px; 
	float: right;
}
.box2 h3{
	text-align: center;
	padding:10px;
	font-weight: bold;
	color: red;
	font-family: Microsoft YaHei UI; 
}

.second{
	margin-top:10px; 
}

.second li{
	display: block;
	width: 100%;
	height: 28px;
	background:url(../images/3.jpg) no-repeat;
	text-indent:18px; 
}

.second li a{
	width: 60%;
	overflow: hidden;
	float: left;
	color: black;
	text-overflow: ellipsis;
	display: block;
	height:28px;
	 white-space: nowrap;
}

.second li span{
	display: block;
	float: right;
	margin-right: 10px;
}

.right1{
	float: right;
	width: 264px;
	height: 254px;
	border: 1px solid #cacaca;
}

.third{
	background-color: #eeeeee;
	width: 100%;
	height: 222.5px;

}

.third ul{
	padding: 20px 20px;
}

.third ul li{
	background:url(../images/1.jpg) no-repeat; 
	text-indent: 1em;
	height:28px; 
	width:100%;
}

.third ul li a{
	overflow: hidden;
	float: left;
	display: block;
	color: black;
	text-overflow: ellipsis;
	width: 100%;
	height: 28px;
	white-space: nowrap;
}

#mainbody2{
	width: 1020px;
	height: 264px;
	padding-top: 10px;
}

.left2{
	border-left:1px solid #cacaca; 
	border-top:1px solid #cacaca;
	border-bottom:1px solid #cacaca;
	border-right:1px dotted #cacaca;
	width: 307px;
	float: left;
	height: 264px;
}

.forth{
	padding: 20px 20px;
}

.forth li{
	background:url(../images/9.jpg) no-repeat; 
	text-indent: 1em;
	height:28px; 
	width:100%;
}

.forth li a{
	overflow: hidden;
	float: left;
	display: block;
	color: black;
	text-overflow: ellipsis;
	width: 90%;
	height: 28px;
	white-space: nowrap;
}

.center{
	border-top:1px solid #cacaca;
	border-bottom:1px solid #cacaca;
	border-right:2.5px solid #cacaca;
	width: 307px;
	float: left;
	background:url(../images/34.jpg) repeat-y right; 
	height: 264px;
}

.fifth{
	padding: 20px 20px;
}

.fifth li{
	background:url(../images/5.jpg) no-repeat; 
	text-indent: 1em;
	height:28px; 
	width:100%;
}

.fifth li a{
	overflow: hidden;
	float: left;
	display: block;
	color: black;
	text-overflow: ellipsis;
	width: 80%;
	height: 28px;
	white-space: nowrap;
}

.right2{
  background:url(../images/23.jpg) repeat-y left; 
	border:1px solid #cacaca;
	border-left:2.5px solid #cacaca;
	width: 394px;
	float: left;
	height: 264px;
}

.sixth{
	padding: 20px 30px;
}

.sixth li{
	background:url(../images/67.jpg) no-repeat; 
	text-indent: 1em;
	height:28px; 
	width:100%;
}

.sixth li a{
	overflow: hidden;
	float: left;
	display: block;
	color: black;
	text-overflow: ellipsis;
	width: 100%;
	height: 28px;
	white-space: nowrap;
}

#mainbody3{
	width: 100%;
	height: 40px;
	background-color: #0585b6;
	margin-top: 10px;

}

.xxx{
	width: 210px;
	height: 40px;
	float: left;
	margin-left: 80px;
	line-height: 40px;
	background:url(../images/77.jpg) no-repeat; 
}

.xxx h3{
	text-indent: 2em;
	color: white;
}

.xxx a:hover{
	color: white;
}

.xx{
	float: left;
	padding:10px 40px;  
}


select{
	width: 150px;
	height:28px;
	text-align: center;
	margin-left: 40px;
}

#footer{
	height: 100px;
	width: 100%;
	padding:10px; 
	text-align: center;
	margin-top: 20px;
	border-top: 3px solid #5293bd;
	background-color:#cccccc; 
}

.fff li{
	color: #5291b4;
}
